.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .logo-container {
        font-family: 'Parisienne', cursive;
        font-size: 20px;
        font-weight: bold;
        height: 100%;
        width: 50%;
        padding: 10px 25px;
        cursor: pointer;
        align-items: center;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;

        .option {
            font-size: 20px;
            font-style: inherit;
            font-weight: bold;
            padding: 10px 25px;
            cursor: pointer;
        }
    }
}