$Raleway:'Raleway', sans-serif;

.carousel-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    font-family: $Raleway;
    background: #fff;
}

.slider-title{
    font-size:3vw;
    color: rgb(13, 13, 80);
    text-align:center;
    margin-bottom:2vw;
}

.card-wrapper{
    position:relative;
    width:100%;
    padding: 0 10px;
    box-sizing: border-box;
    &:active,&:hover,&:focus{
        outline:none;
        border: none;
    }
}

.card{
    width:100%;
    height: 450px;
    border-radius:16px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    .card-image{
        position: absolute;
        top:0;
        left: 0;
        width:100%;
        height: 100%;
        z-index: 2;
        background-color: #000;
        transition: .5s;
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:hover{
        img{
            opacity: .4;
            transition: .5s;
        }
        .card-image{
            transform: translateY(-100px);
            transition:all .9s;
        }
    }
}

.togglebtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    a{
        position: relative;
        display: block;
        width: 120px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #fff;
        font-size: 15px;
        color: #333;
        font-weight: bold;
        transition: .4s;
        transform: translateY(200px);
        opacity: 0;
    }
}

.card:hover{
    .togglebtn a{
        transform: translateY(0px);
        opacity: 1;
    }
}

.details{
    position: absolute;
    bottom: 40px;
    left:0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 2;
    padding:10px;
    transition: .6s;
    h2{
       margin: 30px 0;
       padding: 0;
       text-align: center;
       .job-title{
           font-size: 16px;
           line-height: 2;
           color: #333;
           font-weight: 300;
            display: block;
       } 
    }
}

.card:hover{
    .details{
        bottom:0;
    }
}

.carousel{
    .slick-dots{
        bottom:2.5vw;
        li{
            button{
                width: 20px;
                height: 20px;
                border: 1px solid #fff;
                border-radius: 20px;
                &:before{
                    position: absolute;
                    top:50%;
                    left:50%;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    content:"";
                    text-align: center;
                    opacity: .5;
                    color: #000;
                    background-color: #fff;
                    transform: translate(-50%, -50%);
                    transition: all .3s ease-in-out;
                }
            }
            &.slick-active,
            &:hover{
                button{
                    border-color: tomato;
                    &:before{
                        background-color: tomato;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .slick-prev, .slick-next{
        width:50px;
        height:50px;
        background-color:#fff;
    }

    .slick-prev:hover, .slick-prev:focus,.slick-next:hover,.slick-next:focus{
        color:#fff;
        outline:none;
        background:#fff;
    }

    .slick-prev:before, .slick-next:before{
        color:#000;
        font-family: $Raleway;
    }

    .slick-next{
        right: --px;
    }

    .slick-prev{
        left: --px;
    }
}
