.hero-container {
    background: url('../../assets/images/img-home.jpg') center center/cover no-repeat; 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container>h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    padding: 0 20px;
}

.hero-container>p {
    margin-top: 8px;
    color: #fff;
    font-size: 37px;
    font-family: 'Trebuchet MS', "Locida Sans Unicode", "Lucida Grande", Arial, sans-sefif;
    padding: 0 20px;
}

.hero-btns {
    margin-top: 32px;
    padding: 0 60px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container>h1 {
        color: #fff;
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container>h1 {
        color: #fff;
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container>p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}
